html {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  font-family: "Crimson Text", serif;
  font-weight: 600;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.descpo {
  font-size: 40px;
  margin: 80px 300px 0 300px;
  opacity: 0;
  transition: opacity 250ms ease-in;
  text-align: center;
}

.descpo.appear {
  opacity: 1;
}

.redd {
  color: red;
  text-decoration: none;
}

ul {
  text-align: center;
}

nav li {
  list-style: none;
  margin: 20px;
  padding: 20px;
  float: initial;
  display: inline;
}

#principle {
  text-align: center;
}

#spotify > iframe {
}

#logo {
  background-image: url("gianlucapng.png");
  background-repeat: no-repeat;
  height: 160px;
  margin-left: 30px;
}

#albumcont {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

#albumtext {
  font-size: 30px;
  text-align: center;
}

.sectionalbum {
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.sectionalbum.appear {
  opacity: 1;
}

#textcont {
  font-size: 30px;
  text-align: center;
}

.streaming p {
  margin: 0;
  font-size: 30px;
}

.streaming > a {
  font-size: 30px;
  margin: 0;
}

.streaming {
  display: inline-block;
  margin-right: 50px;
}

#albumtext {
  margin: 0 300px 0 300px;
}

svg {
  margin: 20px;
}

#youtube:hover {
  fill: red;
}

#spotify:hover {
  fill: #1db954;
}

#apple {
  margin-bottom: 25px;
}
#apple:hover {
  fill: #fa57c1;
}

.photos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px 30px;
}

.photos-grid {
  max-width: 100%;
  max-height: 100%;
}

#photoDescription {
  text-align: center;
  font-size: 60px;
}

#videoAudio {
  margin-top: 30px;
}

#textStreaming {
  margin-bottom: 0;
}

#photosBody {
  font-weight: 400;
  font-style: italic;
}

#wordEnd {
  margin: 0;
}
