html {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  font-family: "Crimson Text", serif;
  font-weight: 600;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.descpo {
  font-size: 40px;
  margin: 80px 300px 0 300px;
  opacity: 0;
  transition: opacity 250ms ease-in;
  text-align: center;
}

.descpo.appear {
  opacity: 1;
}

.redd {
  color: red;
  text-decoration: none;
}

ul {
  text-align: center;
}

nav li {
  list-style: none;
  margin: 20px;
  padding: 20px;
  float: initial;
  display: inline;
}

#principle {
  text-align: center;
}

#spotify {
  width: 100%;
  margin-top: 70px;
}

#spotify > iframe {
}

#logo {
  background-image: url("gianlucapng.png");
  background-repeat: no-repeat;
  height: 200px;
  margin-left: 30px;
}

#albumcont {
  display: inline-flex;
}

#albumtext {
  font-size: 60px;
  text-align: center;
}

.sectionalbum {
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.sectionalbum.appear {
  opacity: 1;
}

#textback {
  font-size: 60px;
  text-align: center;
}

.streaming p {
  margin: 0;
  font-size: 30px;
}

.streaming > a {
  font-size: 30px;
  margin: 0;
}

.streaming {
  display: inline-block;
}
